<!DOCTYPE html>
<html lang="en">
  <head>
    <meta  charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Developer | Landing Page</title>
    <link rel="stylesheet" href="/static/style.css" />
    {% comment %} <link rel="stylesheet"  href="{{ STATIC_URL }}css/style.css" /> {% endcomment %}

  </head>
  <body>
    <section class="hero_section">
      <div class="text_container">
        <h2><span class="lg_text">Hi,</span>I am Darshan</h2>
        <h1>PYTHON DEVELOPER</h1>
      </div>
    </section>
    <section class="black_box">
      <h2>Work , what can I do for <span>YOU</span></h2>
    </section>
    <section class="work">
      <div class="grid_item">
        <div class="card">
          <div class="image_container">
            <img src="/static/images/coding.jfif" alt="web development" />
          </div>
          <div class="card_container">
            <h4>Development</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>

      <div class="grid_item">
        <div class="card">
          <div class="image_container">
            <img src="/static/images/download.jfif" alt="Core-Coding" />
          </div>
          <div class="card_container">
            <h4>Core-Coding</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>

      <div class="grid_item">
        <div class="card">
          <div class="image_container">
            <img src="/static/images/images.jfif" alt="Android_coding" />
          </div>
          <div class="card_container">
            <h4>Android Code</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="bottom_section">
        <div class="contact">
            <h2>Contact me</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Quam autem labore, tempora quibusdam voluptas aperiam,
                0 impedit aliquid praesentium id animi modi eligendi, 
                mollitia quae eum corporis ullam rem nulla quis.</p>
                <p>dosomecoding@example.test</p>
        </div>
        <div class="about">
            <h2>About Me</h2>
            
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Quam autem labore, tempora quibusdam voluptas aperiam,
                0 impedit aliquid praesentium id animi modi eligendi, 
                mollitia quae eum corporis ullam rem nulla quis.</p>
                <p>dosomecoding@example.test</p>
        </div>
    </section>
    <footer>Project By Darshan</footer>
  </body>
</html>
